* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.game_mode {
    position: absolute;
    top: 10px;
    z-index: 100;
}

.mode_btn {
    width: 100px;
    height: 50px;
    margin: 40px;
    font-size: 20px;
    border-radius: 50px;
}

.interface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    margin: auto;
    position: absolute;
    z-index: 0;
    top: 70px;
}

.input_btn {
    width: 100px;
    height: 100px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    display: flex;
    flex-direction: row;
}

#id_X {
    font-size: 5em;
    color: red;
}

#id_O {
    font-size: 5em;
    color: green;
}

@media screen and (max-width: 600px) {
    .input_btn {
        width: 15vw;
        height: 15vw;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mode_btn {
        width: 70px;
        height: 35px;
        margin: 2px;
        font-size: 15px;
        border-radius: 50px;
    }

    #player {
        display: flex;
        flex-direction: row;
        font-size: 12.5px;
    }

    #id_X {
        font-size: 3em;
        color: red;
    }
    
    #id_O {
        font-size: 3em;
        color: green;
    }
}